[Desktop Entry]
Encoding=UTF-8
Name=HITEX
Comment=HITEX P2P Cryptocurrency
Exec=hitex-qt %u
Terminal=false
Type=Application
Icon=hitex128
MimeType=x-scheme-handler/hitex;
Categories=Office;Finance;
Name[en_US]=hitex-qt.desktop
